.main h2{
    background-color: blueviolet;
}
.pad{
    height: 50px;
    width: 50px;
    padding: 2px;
}
#first{
    margin: 5px 5px 25px 5px;
    background-color: slateblue;
}
#second{
    margin: 5px 5px 5px 5px;
    background-color: mediumorchid;
}
.btn{
    height: 28px;
    width: 200px;
    padding: 25px;
    border: 2px dashed plum;
}